@import 'normalize.scss';
// === Mixins ===
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin font-Ballo {
    font-family: 'Baloo Bhai', cursive;
}

@mixin font-DansingScrit {
    font-family: 'Dancing Script', cursive;
}

@mixin header__top-style {
    @include font-roboto;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

@mixin btn_normalize {
    border: none;
    outline: none;
}

@mixin block_header {
    .block__header {
        margin: 150px auto 90px;
        .block__title {
            @include font-roboto;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

@mixin gallery__item {
    .gallery {
        display: flex;
        justify-content: space-between;
        .section-gallery__item {
            flex-basis: 30%;
            .section-gallery-description {
                text-align: center;
                @include font-roboto;
                .description {
                    &__name {
                        margin-top: 20px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #888888;
                    }
                    &__price {
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        color: #000;
                    }
                }
            }
        }
    }
}

@mixin gallery_photo {
    .section-gallery-photo {
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
    }
}

@mixin icons {
    .gallery-icons {
        opacity: 0;
        justify-content: space-between;
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        .gallery-icons__inner {
            width: 100%;
            height: 115px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .icon {
                opacity: 0;
                position: relative;
                background-color: #fff;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                &:not(:last-child) {
                    margin-right: 13px;
                }
                &:nth-child(1) {
                    margin-top: 20px;
                }
                &:nth-child(2) {
                    margin-top: 40px;
                }
                &:nth-child(3) {
                    margin-top: 60px;
                }
                .icon_svg_sprite {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    left: 0;
                    top: 0;
                    padding: 13px;
                }
            }
        }
    }
}

// === / Mixins ===
// -----------------
// ===   Variables ===
$dot_color: red;
$links_color_1: black;
$links_hover_1: red;
// === / Variables ===
// -----------------
// ===   Common ===
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

// === / Common ===
// -----------------
// ===   (Section) Inner & Container ===
.section {
    &-inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    &-container {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
    }
}

.dot--red {
    color: $dot_color;
}

// === / (Section) Inner & Container   ===
// -----------------
// ===    Header ===
.section-header-under {
    padding: 10px 30px 12px;
    background-color: #fef7f6;
    // 
    .section-container {
        display: flex;
        justify-content: space-between;
    }
    // 
    .header {
        &-contacts {
            @include header__top-style;
        }
        &-additional {
            @include header__top-style;
            a {
                color: black;
                &:not(:last-child) {
                    margin-right: 2px;
                }
            }
        }
    }
}

.section-header {
    background-color: #fff;
    padding: 0 30px;
    .section-inner {
        position: relative;
    }
    // 
    .section-container {
        display: flex;
        justify-content: space-between;
    }
    // 
    .header {
        &-logo {
            @include font-Ballo;
            font-size: 34px;
            display: flex;
            align-items: center;
        }
        &-nav {
            #menu {
                width: 30px;
                height: 25px;
                position: absolute;
                top: 6px;
                right: 150px;
                &:hover {
                    cursor: pointer;
                }
            }
            .burger-menu {
                display: none;
                width: 25px;
                height: 1px;
                background-color: #000;
                position: absolute;
                top: 12px;
                right: 3px;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 7px;
                    width: 25px;
                    height: 1px;
                    background-color: #000;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 7px;
                    width: 25px;
                    height: 1px;
                    background-color: #000;
                }
            }
        }
        &-links {
            display: flex;
            align-items: center;
            padding: 18px 0;
            &.home__link {
                position: relative;
                display: flex;
                flex-direction: column;
                .home {
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-top: 1px solid black;
                        border-right: 1px solid black;
                        top: 2px;
                        right: -15px;
                        transform: rotate(135deg);
                    }
                }
            }
            .home_submenu {
                opacity: 0;
                position: absolute;
                display: block;
                content: '';
                top: 135%;
                left: 0;
                li {
                    width: 150px;
                    height: 20px;
                    position: relative;
                    padding: 15px 0 30px 20px;
                    background-color: #fff;
                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 16px 74px 15px 21px;
                    }
                }
            }
        }
        &-ul {
            display: flex;
        }
        &-links {
            &:not(:last-child) {
                margin-right: 35px;
            }
            a {
                @include font-roboto;
                font-size: 13px;
                font-weight: 500;
                color: $links_color_1;
                text-transform: uppercase;
            }
        }
        &-icons {
            display: flex;
            align-items: center;
            &__item {
                display: flex;
                justify-content: center;
                width: 47px;
                position: relative;
                // 
                a {
                    .icon_svg_sprite {
                        width: 18px;
                        height: 35px;
                    }
                }
                // 
                .icons__red-ball {
                    @include font-roboto;
                    font-size: 11px;
                    padding-top: 2px;
                    text-align: center;
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 0;
                    right: 8px;
                    display: block;
                    z-index: 5;
                    background-color: $dot_color;
                    color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
}

// === / Header ===
// -----------------
// ===   Intro ===
.section-intro {
    @include font-roboto;
    background-image: url('../img/intro_bg/intro_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // 
    .section-inner {
        display: flex;
        align-items: center;
        height: 500px;
        // 
        .section-container {
            display: flex;
            align-items: center;
            margin-left: 0 30px;
            // 
            .section-intro__content {
                &__inner {
                    display: flex;
                    flex-direction: column;
                    max-width: 488px;
                    min-height: 273px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
                .intro {
                    &__suptitle {
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 30px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #565656;
                    }
                    &__title {
                        font-size: 60px;
                        font-weight: 500;
                        margin-bottom: 60px;
                        text-transform: capitalize;
                    }
                    &__button {
                        // 
                        button {
                            @include btn_normalize;
                            padding: 20px 45px;
                            font-size: 14px;
                            font-weight: 500;
                            text-transform: uppercase;
                            background-color: #ff5353;
                            border-radius: 4px;
                            color: #fff;
                        }
                    }
                }
            }
            .section-intro__img {
                display: flex;
                justify-content: flex-end;
                img {
                    height: 500px;
                }
            }
        }
    }
}

// === / Intro ===
// -----------------
// ===   Feautured ===
.section-featured {
    margin-bottom: 100px;
    .section-inner {
        .section-container {
            @include block_header;
            @include gallery__item;
            @include gallery_photo;
            @include icons;
        }
    }
}

// === / Featured ===
// -----------------
// ===   Feature (Money back) ===
.section-feature {
    @include font-roboto;
    background-color: #eae2d9;
    // 
    .section-inner {
        display: flex;
        align-items: center;
        height: 450px;
        // 
        .section-container {
            display: flex;
            align-items: center;
            // 
            .section-feature__content {
                &__inner {
                    display: flex;
                    flex-direction: column;
                    max-width: 488px;
                    min-height: 273px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
                .feature {
                    &__title {
                        @include font-DansingScrit;
                        font-size: 100px;
                        font-weight: 500;
                        margin-bottom: 40px;
                        text-transform: uppercase;
                    }
                    &__subtitle {
                        font-size: 42px;
                        font-weight: 300;
                        margin-bottom: 50px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #565656;
                    }
                    &__button {
                        // 
                        button {
                            @include btn_normalize;
                            padding: 20px 45px;
                            font-size: 14px;
                            font-weight: 500;
                            text-transform: uppercase;
                            background-color: #ff5353;
                            border-radius: 4px;
                            color: #fff;
                        }
                    }
                }
            }
            .section-feature__img {
                display: flex;
                justify-content: flex-end;
                img {
                    height: 450px;
                }
            }
        }
    }
}

// === / Feature (Money back) ===
// -----------------
// ===   Popular ===
.section-popular {
    margin-bottom: 50px;
    .section-inner {
        .section-container {
            @include block_header;
            @include gallery__item;
            @include gallery_photo;
            @include icons;
            .gallery {
                .section-gallery__item {
                    flex-basis: 22%;
                }
            }
        }
    }
}

// === / Popular ===
// -----------------
// ===   Advantage  ===
.section-advantage {
    margin: 100px 0;
    .section__advantage__items {
        display: flex;
        justify-content: space-between;
        .advantage-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 23%;
            border: 1px solid #ebeef0;
            .advantage {
                &__photo {
                    margin: 25px auto;
                }
                &__content {
                    @include font-roboto;
                    text-align: center;
                    .advantage {
                        &__title {
                            margin-bottom: 15px;
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        &__text {
                            margin-bottom: 25px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #888888;
                        }
                    }
                }
            }
        }
    }
}

// ===  / Advantage ===
// -----------------
// ===    Trendeing ===
.section-trending {
    margin-bottom: 50px;
    .section-inner {
        .section-container {
            @include block_header;
            @include gallery__item;
            @include gallery_photo;
            @include icons;
            .gallery {
                .section-gallery__item {
                    flex-basis: 22%;
                }
            }
        }
    }
}

// ===  / Trendeing ===
// -----------------
// ===    Journnal ===
.section-journal {
    margin-bottom: 100px;
    .section-container {
        @include block_header;
        .section__journal__items {
            display: flex;
            justify-content: space-between;
            .journal__item {
                display: flex;
                flex-direction: column;
                flex-basis: 30%;
                hr {
                    margin: 20px 0;
                    background-color: #e1e1e1;
                }
                .journal {
                    &__photo {
                        display: flex;
                        width: 100%;
                        height: auto;
                    }
                    &__content {
                        @include font-roboto;
                        position: relative;
                        .journal {
                            &__date {
                                a {
                                    color: #888888;
                                }
                                margin-top: 35px;
                                margin-left: 20px;
                                font-size: 13px;
                                font-weight: 400;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    top: 38px;
                                    left: 0;
                                    width: 11px;
                                    height: 6px;
                                    background-color: #ff5353;
                                }
                            }
                            &__text {
                                margin-top: 10px;
                                font-size: 20px;
                                font-weight: 700;
                                a {
                                    color: #000;
                                }
                            }
                        }
                    }
                    &__under {
                        display: flex;
                        .journal__item__under {
                            display: flex;
                            &:not(:last-child) {
                                margin-right: 30px;
                            }
                            .journal {
                                &__under__icon {
                                    a {
                                        color: #adadad;
                                        .icon_svg_sprite {
                                            width: 16px;
                                            height: 16px;
                                            fill: #adadad;
                                            margin-right: 8px;
                                            @include font-roboto;
                                            font-size: 14px;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ===  / Journal ===
// -----------------
// ===    Follow us ===
.section-follow {
    margin-bottom: 50px;
    .section-container {
        @include block_header;
        .section-follow__items {
            display: flex;
            justify-content: space-between;
            .follow__item {
                display: flex;
                flex-basis: 22%;
                position: relative;
                overflow: hidden;
                .follow__item {
                    &__photo {
                        display: flex;
                        width: 100%;
                        height: auto;
                        a {
                            display: flex;
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    &__hover {
                        opacity: 0;
                        content: '';
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 30px;
                        left: 0;
                        background-color: rgba(255, 55, 55, 0.7);
                        transition: opacity .2s linear;
                        transition: top 0.21s linear;
                        a {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 30px;
                            left: 0;
                            .icon_svg_sprite {
                                fill: #fff;
                                position: absolute;
                                display: block;
                                width: 31px;
                                height: 31px;
                                top: 45%;
                                left: 45%;
                            }
                        }
                        &:hover {
                            opacity: 1;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

// ===  / Follow us ===
// -----------------
// ===  Footer ===
.section-footer {
    padding: 100px 0 0;
    background-color: #eee7df;
    ;
    .footer-links {
        display: flex;
        .footer__item {
            @include font-roboto;
            display: flex;
            flex-basis: 25%;
            flex-direction: column;
            .footer__item__title {
                font-size: 16px;
                font-weight: 700;
                color: #000;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            a {
                font-size: 14px;
                font-weight: 400;
                color: #888888;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
            .footer__buttons {
                display: flex;
                align-items: flex-end;
                .button {
                    padding: 8px 8px;
                    background-color: #fff;
                    border-radius: 4px;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    a {
                        display: flex;
                        .button {
                            &__img {
                                display: flex;
                                align-items: center;
                                margin-right: 7px;
                                .icon_svg_sprite {
                                    width: 20px;
                                    height: 20px;
                                    fill: #ff5353;
                                }
                            }
                            &__text {
                                @include font-roboto;
                                text-transform: uppercase;
                                color: #000;
                                .btn_txt_1 {
                                    font-size: 10px;
                                    font-weight: 400;
                                    margin-bottom: 3px;
                                }
                                .btn_txt_2 {
                                    font-size: 13px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
            .footer__social {
                display: flex;
                .social__icon {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        padding: 7px;
                        background-color: #fff;
                        .icon_svg_sprite {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
        .footer__item__last {
            display: flex;
            flex-direction: column;
            flex-basis: 25%;
        }
        hr {
            margin: 26px 0 25px;
        }
    }
    hr {
        margin: 100px 0 0;
    }
    .footer-copyright {
        padding: 25px 0;
        .copyright__inner {
            text-align: center;
            p {
                @include font-roboto;
                font-size: 14px;
                font-weight: 400;
                color: #888888;
                a {
                    color: #ff5353;
                }
            }
        }
    }
}

// === / Footer ===
// -----------------
// ===    Hover ===
.section-header {
    .header {
        &-logo {
            cursor: pointer;
        }
        &-links {
            &.home__link {
                .home_submenu {
                    transition: opacity .2s linear;
                    li {
                        transition: background-color .2s linear;
                        &:hover {
                            background-color: #f0f2f1;
                        }
                    }
                }
                .home_submenu.show__submenu {
                    opacity: 1;
                }
            }
            a {
                transition: color .2s linear;
                &:hover {
                    color: $links_hover_1;
                }
            }
        }
        &-icons {
            .header-icons__item {
                a.svg_hover {
                    .icon_svg_sprite {
                        transition: fill .2s linear;
                        fill: #ff5353;
                    }
                }
            }
        }
    }
}

.section-intro {
    .section-intro__content {
        .section-intro__content__inner {
            .intro {
                &__button {
                    button {
                        transition: color .2s linear;
                        transition: background-color .2s linear;
                        &:hover {
                            cursor: pointer;
                            color: blue;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.section-featured {
    .section-gallery__item {
        .section-gallery-photo {
            .gallery-icons {
                .gallery-icons__inner {
                    .icon {
                        &:hover {
                            cursor: pointer;
                            background-color: #ff5353;
                            fill: #fff;
                        }
                    }
                    .icon.align__icon {
                        opacity: 1;
                        margin-top: 0;
                        transition: margin-top .3s linear;
                    }
                }
            }
            .gallery-icons.show__icon {
                opacity: 1;
            }
        }
    }
}

.section-feature {
    .section-feature__content {
        .section-feature__content__inner {
            .feature {
                &__button {
                    button {
                        transition: color .2s linear;
                        transition: background-color .2s linear;
                        &:hover {
                            cursor: pointer;
                            color: blue;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.section-popular {
    .section-gallery__item {
        .section-gallery-photo {
            .gallery-icons {
                transition: opacity .2s linear;
                .gallery-icons__inner {
                    .icon {
                        transition: background-color .2s linear;
                        &:hover {
                            cursor: pointer;
                            background-color: #ff5353;
                            fill: #fff;
                        }
                    }
                    .icon.align__icon {
                        opacity: 1;
                        margin-top: 0;
                        transition: margin-top .3s linear;
                    }
                }
            }
            .gallery-icons.show__icon {
                opacity: 1;
            }
        }
    }
}

.section-trending {
    .gallery {
        &:not(:last-child) {
            margin-bottom: 80px;
        }
        .section-gallery__item {
            .section-gallery-photo {
                .gallery-icons {
                    transition: opacity .2s linear;
                    .gallery-icons__inner {
                        .icon {
                            transition: background-color .2s linear;
                            &:hover {
                                cursor: pointer;
                                background-color: #ff5353;
                                fill: #fff;
                            }
                        }
                        .icon.align__icon {
                            opacity: 1;
                            margin-top: 0;
                            transition: margin-top .3s linear;
                        }
                    }
                }
                .gallery-icons.show__icon {
                    opacity: 1;
                }
            }
        }
    }
}

.section-journal {
    .section__journal__items {
        .journal__item {
            .journal {
                &__content {
                    .journal {
                        &__date {
                            a {
                                transition: color .2s linear;
                                &:hover {
                                    color: #ff5353;
                                }
                            }
                        }
                        &__text {
                            a {
                                transition: color .2s linear;
                                &:hover {
                                    color: #ff5353;
                                }
                            }
                        }
                    }
                }
                &__under {
                    .journal__item__under {
                        .journal {
                            &__under__icon {
                                a.svg_hover {
                                    transition: color .2s linear;
                                    color: #ff5353;
                                    .icon_svg_sprite {
                                        transition: fill .2s linear;
                                        fill: #ff5353;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-follow {
    .section-container {
        .section-follow__items {
            .follow__item {
                .follow__item {
                    &__hover.follow__hover {
                        opacity: 1;
                        top: 0;
                        a {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

.section-footer {
    .footer-links {
        .footer__item {
            .footer__item__title {}
            a {
                transition: color .2s linear;
                &:hover {
                    color: #ff5353;
                }
            }
            .footer__buttons {
                .button.hover_bg {
                    background-color: #ff5353;
                    transition: background-color .3s linear;
                    a.hover_link {
                        .button {
                            &__img {
                                transition: fill .2s linear;
                                .icon_svg_sprite {
                                    fill: #fff;
                                }
                            }
                            &__text {
                                transition: color .2s linear;
                                .btn_txt_1 {
                                    color: #fff;
                                }
                                .btn_txt_2 {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer__social {
            .social__icon {
                a.social_hover {
                    background-color: #ff5353;
                    transition: background-color .2s linear;
                    .icon_svg_sprite {
                        fill: #fff;
                        transition: fill .2s linear;
                    }
                }
            }
        }
    }
}

// === / Hover ===
// === @Media ===
@media (max-width: 1200px) {
    // 
    // Intro
    .section-intro .section-inner .section-container .section-intro__img img {
        width: 90%;
    }
    .section-intro .section-inner .section-container .section-intro__content__inner {
        max-width: 565px;
    }
    .section-intro .section-inner .section-container .section-intro__content .intro__title {
        font-size: 40px;
    }
    // Featured
    .section-featured {
        .section-inner {
            .section-container {
                .gallery {
                    justify-content: space-around;
                    .section-gallery__item {
                        .section-gallery-photo {
                            img {
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Feature
    .section-feature .section-inner .section-container .section-feature__content .feature__title {
        font-size: 70px;
    }
    .section-feature .section-inner .section-container .section-feature__content .feature__subtitle {
        font-size: 25px;
    }
    .section-feature .section-inner .section-container .section-feature__content {
        padding-right: 50px;
        margin-left: 20px;
    }
    .section-feature .section-inner .section-container .section-feature__content__inner {
        width: 120%;
    }
    .section-feature .section-inner .section-container .section-feature__img img {
        width: 95%;
    }
    // Popular
    .section-popular .section-inner .section-container .gallery {
        justify-content: space-around;
        margin: 0 20px;
    }
    .section-popular .section-inner .section-container .gallery .section-gallery__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .section-popular .section-inner .section-container .gallery .section-gallery__item {
        flex-basis: 21%;
    }
    .section-popular .section-inner .section-container .section-gallery-photo {
        img {
            width: 245px;
        }
    }
    // Advantage
    .section-advantage .section__advantage__items {
        justify-content: space-around;
    }
    .section-advantage .section__advantage__items .advantage-item .advantage__photo {
        margin: 20px auto;
    }
    .section-advantage .section__advantage__items .advantage-item .advantage__content .advantage__title {
        margin-bottom: 5px;
    }
    .section-advantage .section__advantage__items .advantage-item {
        flex-basis: 20%;
    }
    // Trending
    .section-trending .section-inner .section-container .gallery {
        justify-content: space-around;
    }
    .section-trending .section-inner .section-container .gallery .section-gallery__item {
        flex-basis: 21%;
    }
    .section-trending .section-inner .section-container .section-gallery-photo {
        img {
            width: 245px;
            height: 310px;
        }
    }
    // Journal
    .section-journal .section-container .section__journal__items {
        justify-content: space-around;
    }
    .section-journal .section-container .section__journal__items .journal__item {
        flex-basis: 26%;
    }
    .section-journal .section-container .section__journal__items .journal__item .journal__photo {
        img {
            width: 309px;
            height: 300px;
        }
    }
    // Follow
    .section-follow .section-container .section-follow__items {
        justify-content: space-around;
    }
    .section-follow .section-container .section-follow__items .follow__item {
        flex-basis: 21%;
    }
    // Footer
    .section-footer .footer-links {
        justify-content: space-around;
    }
    .section-footer .footer-links .footer__item {
        flex-basis: 20%;
        padding: 0 30px;
    }
    .section-footer hr {
        margin: 100px 30px 0;
    }
    .section-footer .footer-links hr {
        margin: 26px 30px 25px;
    }
}

@media (max-width: 1090px) {
    //
    // Intro
    .section-intro .section-inner .section-container {
        .section-intro__content {
            padding-left: 20px;
        }
    }
    .section-intro .section-inner {
        height: 425px;
    }
    .section-intro .section-inner .section-container .section-intro__img img {
        width: 85%;
        height: 425px;
    }
    // Featured
    .section-featured .section-inner .section-container .gallery .section-gallery__item {
        flex-basis: 25%;
    }
    .section-featured .section-inner .section-container .gallery .section-gallery__item .section-gallery-photo img {
        width: 275px;
    }
    .section-featured .section-inner .section-container .block__header {
        margin: 100px auto 70px;
    }
    // Popular
    .section-popular .section-inner .section-container .block__header {
        margin: 100px auto 70px;
    }
    .section-popular .section-inner .section-container .gallery .section-gallery__item {
        flex-basis: 19%;
    }
    .section-popular .section-inner .section-container .section-gallery-photo img {
        width: 200px;
    }
    // Trending
    .section-trending .section-inner .section-container .block__header {
        margin: 100px auto 70px;
    }
    .section-trending .section-inner .section-container .gallery .section-gallery__item {
        flex-basis: 19%;
    }
    .section-trending .section-inner .section-container .section-gallery-photo img {
        width: 210px;
        height: 270px;
    }
    // Journal
    .section-journal .section-container .block__header {
        margin: 100px auto 70px;
    }
    .section-journal .section-container .section__journal__items .journal__item {
        flex-basis: 25%;
    }
    .section-journal .section-container .section__journal__items .journal__item .journal__photo img {
        width: 280px;
        height: 280px;
    }
    // Follow
    .section-follow .section-container .block__header {
        margin: 100px auto 70px;
    }
    // Footer
    .section-footer .footer-links .footer__item {
        flex-basis: 17%;
    }
    .section-footer .footer-links .footer__item__last {
        flex-basis: 34%;
    }
    .section-footer .footer-links hr {
        margin: 26px 30px 25px;
    }
}

@media (max-width: 950px) {
    // Header
    .section-header {
        padding: 24px 30px;
    }
    .section-header .header-ul {
        // opacity: 0;
        background: #fff;
        display: none;
        flex-direction: column;
        position: absolute;
        width: 109%;
        height: 356px;
        top: 38px;
        left: -30px;
        padding-top: 30px;
    }
    .section-header .header-ul.showMenu {
        display: flex;
    }
    .section-header .header-nav .burger-menu {
        display: block;
    }
    .section-header .header-links.home__link .home:after {
        left: 50px;
    }
    .section-header .header-links {
        align-items: flex-start;
    }
    .section-header .header-links {
        margin-right: 0;
        padding-left: 35px;
    }
    // Intro
    .section-intro .section-inner {
        height: 330px;
    }
    .section-intro .section-inner .section-container .section-intro__content .intro__suptitle {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .section-intro .section-inner .section-container .section-intro__content .intro__title {
        margin-bottom: 30px;
    }
    .section-intro .section-inner .section-container .section-intro__img img {
        width: 78%;
        height: 330px;
    }
    // Featured
    .section-featured .section-inner .section-container .block__header {
        margin: 50px 0;
    }
    .section-featured .section-inner .section-container .gallery {
        flex-direction: column;
        align-items: center;
    }
    .section-featured .section-inner .section-container .gallery .section-gallery__item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    .section-featured .section-inner .section-container .gallery .section-gallery__item .section-gallery-photo img {
        width: 360px;
        height: 451px;
    }
    // Feature
    .section-feature .section-inner {
        height: 330px;
    }
    .section-feature .section-inner .section-container .section-feature__img img {
        width: 75%;
        height: 330px;
    }
    .section-feature .section-inner .section-container .section-feature__content .feature__title {
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 60px;
    }
    .section-feature .section-inner .section-container .section-feature__content .feature__subtitle {
        margin-bottom: 35px;
    }
    // Popular
    .section-popular .section-inner .section-container .block__header {
        margin: 50px 0;
    }
    .section-popular .section-inner .section-container .gallery .section-gallery__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
    }
    .section-popular .section-inner .section-container .gallery {
        flex-wrap: wrap;
    }
    .section-popular .section-inner .section-container .gallery .section-gallery__item {
        &:not(:last-child) {
            margin-bottom: 40px;
            margin-right: 0;
        }
    }
    .section-popular .section-inner .section-container .section-gallery-photo {
        width: auto;
    }
    .section-popular .section-inner .section-container .gallery .section-gallery__item .section-gallery-description {
        width: auto;
    }
    .section-popular .section-inner .section-container .section-gallery-photo img {
        width: auto;
        height: auto;
    }
    // Advantage
    .section-advantage {
        margin: 0;
    }
    .section-advantage .section__advantage__items {
        flex-wrap: wrap;
    }
    .section-advantage .section__advantage__items .advantage-item {
        flex-basis: 35%;
        margin-bottom: 30px;
    }
    // Trending
    .section-trending .section-inner .section-container .block__header {
        margin: 50px 0;
    }
    .section-trending .section-inner .section-container .gallery {
        flex-wrap: wrap;
    }
    .section-trending .gallery:not(:last-child) {
        margin-bottom: 0;
    }
    .section-trending .section-inner .section-container .gallery .section-gallery__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
    }
    .section-trending .section-inner .section-container .gallery .section-gallery__item {
        &:not(:last-child) {
            margin-bottom: 40px;
            margin-right: 0;
        }
    }
    .section-trending .section-inner .section-container .section-gallery-photo {
        width: auto;
    }
    .section-trending .section-inner .section-container .gallery .section-gallery__item .section-gallery-description {
        width: auto;
    }
    .section-trending .section-inner .section-container .gallery .section-gallery__item .section-gallery-description {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .section-trending .section-inner .section-container .section-gallery-photo img {
        width: auto;
        height: auto;
    }
    // Journal
    .section-journal .section-container .block__header {
        margin: 50px 0;
    }
    .section-journal .section-container .section__journal__items {
        flex-direction: column;
        align-items: center;
    }
    .section-journal .section-container .section__journal__items .journal__item .journal__photo {
        width: none;
        height: none;
    }
    .section-journal .section-container .section__journal__items .journal__item {
        width: 100%;
        max-width: 360px;
    }
    .section-journal .section-container .section__journal__items .journal__item {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    .section-journal .section-container .section__journal__items .journal__item .journal__photo img {
        width: auto;
        height: auto;
    }
    // Follow 
    .section-follow {
        margin-bottom: 10px;
    }
    .section-follow .section-container .section-follow__items {
        flex-wrap: wrap;
    }
    .section-follow .section-container .section-follow__items .follow__item {
        flex-basis: 35%;
        margin-bottom: 40px;
    }
    // Footer
    .section-footer .footer-links {
        flex-wrap: wrap;
    }
    .section-footer .footer-links .footer__item {
        flex-basis: 50%;
        align-items: center;
        margin-bottom: 60px;
    }
    .section-footer .footer-links .footer__item__last {
        flex-basis: 50%;
    }
    .section-footer hr {
        margin-top: 0;
    }
    .section-footer .footer-links hr {
        display: none;
    }
}

@media(max-width: 795px) {
    // Features
    .section-feature .section-inner {
        height: 265px;
    }
    .section-feature .section-inner .section-container .section-feature__img img {
        width: 95%;
        height: 265px;
    }
    .section-feature .section-inner .section-container .section-feature__content {
        width: 100%;
        height: 265px;
    }
    .section-feature .section-inner .section-container .section-feature__content__inner {
        width: 115%;
    }
    .section-feature .section-inner .section-container .section-feature__content .feature__title {
        margin-bottom: 25px;
        margin-top: 35px;
        font-size: 40px;
    }
    .section-feature .section-inner .section-container .section-feature__content .feature__subtitle {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    // Header 
    .section-header .header-ul {
        width: 120%;
    }
    //Intro 
    .section-intro .section-inner {
        height: 265px;
    }
    .section-intro .section-inner .section-container .section-intro__img img {
        width: 97%;
        height: 265px;
    }
    .section-intro .section-inner .section-container .section-intro__content__inner {
        width: 163%;
    }
    .section-intro .section-inner .section-container .section-intro__content {
        height: 265px;
    }
    .section-intro .section-inner .section-container .section-intro__content .intro__title {
        font-size: 30px;
    }
    // Advantage
    .section-advantage .section__advantage__items {
        flex-direction: column;
        margin: 0 30% 20px;
    }
    // Follow us
    .section-follow .section-container .section-follow__items {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    // Advantages
    .section-advantage .section__advantage__items {
        margin: 0px 20% 20px;
    }
}

@media (max-width: 540px) {
    // Footer
    .section-footer .footer-links .footer__item {
        flex-basis: 100%;
    }
    .section-footer .footer-links .footer__item__last {
        flex-basis: 100%;
    }
}

@media (max-width: 525px) {
    // Feature
    .section-feature .section-inner {
        height: 530px;
    }
    .section-feature .section-inner .section-container {
        flex-direction: column;
    }
    .section-feature .section-inner .section-container .section-feature__content__inner {
        width: 100%;
    }
    .section-feature .section-inner .section-container .section-feature__content {
        padding-right: 0;
        margin-left: 0;
    }
    .section-feature .section-inner .section-container .section-feature__img img {
        width: 100%;
    }
}

// === @Media ===